@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:ital,wght@0,100;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins',sans-serif;
}
body{
    background:rgb(235, 235, 235);
}
nav .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: #fff;
    height:3.5rem;
}
nav .wrapper .left,
nav .wrapper .right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
nav .wrapper .left{
    padding-left: 8rem;
    display: flex;
    gap: 0.7rem;
}
nav .wrapper .left .head1{
    color: rgb(17, 93, 235);
    font-size: 1.5rem;
    font-weight: px;
}
nav .wrapper .logo i{
    font-size: 2.5rem;
    color:rgb(17, 93, 235);

}


nav .wrapper .right .article,
nav .wrapper .right .network,
nav .wrapper .right .learning,
nav .wrapper .right .job{
    color: gray;
    position: relative;
    right: 5rem;
    width: 5rem;
    height: 2rem;
    
}
nav .wrapper .right .article:hover,
nav .wrapper .right .network:hover,
nav .wrapper .right .learning:hover,
nav .wrapper .right .job:hover{
    color: black;

}
nav .wrapper .right .article i,
nav .wrapper .right .network i,
nav .wrapper .right .learning i,
nav .wrapper .right .job i
{
   font-size: 2rem;
}
nav .wrapper .right #but1
{
    background-color:transparent;
    border-radius: 30px 30px 30px 30px;
       height: 40px;
       width: 90px;
       border: none;
}
nav .wrapper .right #but2
{
    background-color:transparent;
    border-radius: 30px 30px 30px 30px;
       height: 40px;
       width: 90px;
       border: 1 ;
       border-color: rgb(7, 30, 243);

}
nav .wrapper .right #but1:hover{
    background: #f4f1f1cb;
}
nav .wrapper .right #but2:hover{
    background: #aae7efde;
}
.sec1{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    /* height:3.5rem; */
    height: 800px;
}
.sec1 .div1 .head1{
    font-weight: 100;
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: 5rem;
   left:  5rem;
   color: brown;
}
.div2 form  #inp1{
    position: absolute;
    top: 20rem;
    left: 10rem;
    width: 19rem;
    height: 3rem;
}
 .formh{
    font-size: 1rem;
    position: absolute;
    top: 18rem;
    left: 10rem;
}
.div2 form  #inp2{
    position: absolute;
    top: 28rem;
    left: 10rem;
    width: 19rem;
    height: 3rem;
}
.formh1{
    font-size: 1rem;
    position: absolute;
    top: 25rem;
    left: 10rem;
}
.div2 form a{
    position: absolute;
    top: 33rem;
    left: 10rem;
    color: blue;
}
.div2 form #but3{
    border-radius: 30px 30px 30px 30px;
       height: 40px;
       width: 20rem;
       border: none ;
       position: absolute;
       top:36rem;
       left: 10rem;
       background-color: rgb(64, 128, 246);
}
.div2 form h5{
    position: absolute;
       top:40rem;
       left: 18.5rem;
}
.sec1 img{
    position: absolute;
    top:18rem;
    right: 15rem;
    width: 400px;
}
.div2 form #but4{
    border-radius: 30px 30px 30px 30px;
    height: 40px;
    width: 20rem;
    border: 1 ;
    position: absolute;
    top:42rem;
    left: 10rem;
    background-color:transparent;
    border-width: 1px;
}
.div2 form #but5{
    border-radius: 30px 30px 30px 30px;
    height: 40px;
    width: 20rem;
    border: 1 ;
    position: absolute;
    top:45rem;
    left: 10rem;
    background-color:transparent;
}
.sec2{
    display: flex;
    flex-direction: row;
    background-color: #d7bdd1;
    height: 300px; 
}
.sec2 .div3{
    width:500px;
    
    display: flex;

}
.sec2 .div3 .head2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    font-weight: 90;
    position: relative;
    top:6rem;
    left:1rem;
}
.sec2 .div3{
    width:500px;
    
    display: flex;
}
.sec2 .div4 #but6 {
    border-radius: 30px 30px 30px 30px;
    height: 40px;
    width: 10rem;
    background-color: #fff;
    position: absolute;
     top:60rem;
    right: 30rem; 
    
    border-color: black;
    font-size: 20px;
}
.sec2 .div4 #but6 a{
    text-decoration: none;
    
}
.sec3{
    display: flex;
    flex-direction: row;
    background-color:white;
    height: 600px; 
}
.sec3 .div5{
    flex-direction: column;
    width:500px;
    
    display: flex;

}
.sec3 .div5 h4{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}
.sec3 .div5 #but7{
    border-radius: 30px 30px 30px 30px;
    height: 40px;
    width: 19rem;
    background-color: #fff;
     position: relative; 
    
    left: 5rem;  
    
    border-color: black;
    font-size: 20px;
}
.sec3 .div5 #but7 a{
    text-decoration: none;

}
.sec3 .div6{
    flex-direction: row;
    width:500px;
    display: flex;
}
.sec3 .div6 img{
    position: absolute;
    width: 40rem;
    top:75rem;
    right:2rem;
}
.sec3 .div6 h4{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    position: absolute;
    top:100rem;
    right:2rem ;
}
 